{% extends 'base.html' %}

{% block nav %} {% endblock %}
{% block login %}
<body id="signin-page" class="animated bounceInDown">
<div id="signin-page-content">
	<form action="/users/login" class="form" name="LoginForm" method="post"> {% csrf_token %}
     {% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
	 {% endif %}

        <div class="form-group">
            <div class="input-icon"><i class="fa fa-user"></i><input type="text" id="username" placeholder="Username" name="username" class="form-control"></div>

        <div class="form-group">
            <div class="input-icon"><i class="fa fa-key"></i><input type="password" id="password" placeholder="Password"           name="password" class="form-control"></div>
        </div>          

        <div class="form-group">
            <div class="checkbox"><label><input type="checkbox">&nbsp;
                Recordar sesión.</label></div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login
                &nbsp;<i class="fa fa-chevron-circle-right"></i></button>
            <a id="btn-forgot-pwd" href="/passPerdida" class="mlm">Contraseña olvidada</a></div>
        <hr>
        <div class="create-account"><p>
            &nbsp;<a id="btn-register" href="/users/new">Crear una cuenta nueva</a></p></div>
    </form>
</div>
</body>


{% endblock %}
{% block footer %}<center><kbd>&copy; Ingenieria Web</kbd></center>{% endblock %}

{% block extrafooter%}

<script src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
<script src="{{ STATIC_URL }}js/jquery-migrate-1.2.1.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
<!--loading bootstrap js-->
<script src="{{ STATIC_URL }}vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../www.next-themes.com/mango/code/vendors/bootstrap-hover-dropdown.html"></script>
<script src="{{ STATIC_URL }}js/html5shiv.js"></script>
<script src="{{ STATIC_URL }}js/respond.min.js"></script>
<script src="{{ STATIC_URL }}vendors/jquery-cookie/jquery.cookie.js"></script>

{% endblock %}

